@import '../../style/lib/vars';

#contacts {
  width: 100%;
  height: 90vh;
  float: left;
  background: white;

  .contact-select {
    bottom: 0%;
    height: 100vh;
    width: 100%;
    animation-name: slideUp;
    animation-duration: 0.5s;
    position: absolute;

    div {
      width: 90%;
      margin-left: 5%;
      float: left;
      position: absolute;
      height: 15vh;
      bottom: 15%;
      border-radius: 20px;
      overflow: hidden;
      button {
        width: 100%;
        height: 7.5vh;
        float: left;
        font-size: 3vh;
        background: $white;
        border: 1px solid lightgrey;
      };
    }
  }

  &>div {
    width: 100%;
    height: 10vh;
    background: $primary;
    float: left;
    &>div {
      width: 80%;
      height: 5vh;
      float: left;
      margin: 2.5vh 10%;
      background: white;
      border-radius: 5px;
      overflow: hidden;

      &>div {
        width: 5vh;
        height: 5vh;
        margin: 0;
        float: left;
      }
      &>div>svg {
        max-height: 3vh;
        max-width: 100%;
        margin-top: 1vh;
      }
      input {
        float: left;
        width: 75%;
        height: 3vh;
        font-size: 2.5vh;
        padding: 1vh 0;
      }
    }
  }

  ul {
    width: 100%;
    height: auto;
    float: left;

    li {
      width: 100%;
      height: 7vh;
      float: left;
      background: $white;
      outline: 1px solid $second;

      p {
        float: left;
        height: 4vh;
        width: 90%;
        margin: 2vh 5%;
        font-size: 3.5vh;
      }
    }
  }
}