@import '../../style/lib/vars';

#header-bar {
  width: 100%;
  position: absolute;
  top: 0;
  background: $primary;
  height: 8vh;
  padding: 1vh 0;
  
  &>div:first-of-type {
    float: left;
    width: 5vh;
    height: 5vh;
    margin-top: 1vh;
    margin-left: 2.5%;
    background: url('../../assets/profile.png');
    background-size: 5vh 5vh;
    border-radius: 100px;
  }
  &>section {
    width: 65vw;
    float: left;
    height: 5vh;
    background: green;
    border-radius: 5px;
    overflow: hidden;
    background: $white;
      margin: 1vh 5%;
    * {
      border: none;
    }
    div {
      width: 10vw;
      max-height: 5vh;
      float: left;
      height: 5vh;
      background: white;
    }
    div>svg {
      max-width: 50%;
      max-height: 3.5vh;
      margin-left: 5%;
      margin: 1vh 22%;
    }
    input {
      width: 55vw;
      height: 5vh;
      float: left;
      border: none;
      padding: 0;
      font-size: 4vw;
      outline: none;
    }
  }

  &>.new-message {
    max-width: 10vw;
    max-height: 5vh;
    margin: 1vh 2.5%;
    margin-left: 0;
    float: right;
    * {
      fill: $white;
    }
  }
}
