@import '../../style/lib/vars';

#search-user {
  width: 100%;
  height: 90vh;
  float: left;
  &>div:first-of-type {
    width: 100%;
    background: $primary;
    height: 8vh;
    float: left;
    padding: 1vh 0;
    &>div{
      width: 80%;
      height: 5vh;
      background: $white;
      border-radius: 5px;
      overflow: hidden;
      margin: 1vh 10%;
      &>div {
        width: 10vw;
        max-height: 5vh;
        float: left;
        height: 5vh;
        background: $white;
      }
      &>div>svg {
        max-width: 50%;
        max-height: 3.5vh;
        margin-left: 5%;
        margin: 1vh 22%;
        * {
          fill: $black;
        }
      }
      input {
        background: $white;
        color: $black;
        width: 55vw;
        height: 5vh;
        float: left;
        border: none;
        padding: 0;
        font-size: 4vmin;
        outline: none;
      }
    }
  }
  &>ul {
    width: 100%;
    height: 80vh;
    float: left;
    background: white;
    overflow-x: scroll;
    li {
      width: 100%;
      height: 5vh;
      float: left;
      background: $white;
      padding: 1.5vh 0;
      outline: 1px solid $second;

      &>div {
        float: left;
        height: 5vh;
        width: 5vh;
        background: blue;
        border-radius: 100px;
        margin-left: 5%;
      }

      &>p {
        width: 50%;
        height: 4vh;
        font-size: 3vh;
        padding: 1vh 0;
        float: left;
        margin-left: 5%;
      }
      &>button {
        width: 5vh;
        height: 5vh;
        float: right;
        margin-right: 5%;
        border-radius: 100px;
        font-size: 3vh;
        background: $primary;
        color: $white
      }
    }
  }
}
