@import '../../style/lib/vars';

#requests {
  width: 100%;
  height: 90vh;
  float: left;

  &>div:first-of-type {
    width: 100%;
    float: left;
    height: 6vh;
    padding: 1.5vh;
    background: $primary;
    p {
      width: 100%;
      height: 5vh;
      padding: 1vh 0;;
      font-size: 4vh;
      text-align: center;
    }
  }

  &>section {
    width: 100%;
    height: 81vh;
    float: left;
    margin-top: 1px;
    overflow-x: scroll;
    background: $white;

    &>div>p {
      float: left;
      width: 95%;
      height: 3vh;
      font-size: 2.5vh;
      background: $primary;
      padding-left: 5%;
      outline: 1px solid $second;
    }
    &>div>ul {
      width: 100%;
      height: auto;
      li {
        float: left;
        width: 100%;
        height: 8vh;
        outline: 1px solid $second;
      }
      li>p {
        float: left;
        width: 60%;
        height: 5vh;
        padding: 1.5vh 0;
        padding-left: 5%;
        font-size: 2vh;
      }
    }
  }
}
