@import './base/reset';
@import './lib/vars';

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100%;
  overflow: hidden;
  &>section {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
  }
}

.hidden-page {

}

@keyframes authFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}

@keyframes modalSlideUp {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 5%;
  }

}

@keyframes slideDown {
  0% {
    bottom: 0%;
  }
  100% {
    bottom: -100%;
  }
}
