@import '../../style/lib/vars';

.profile-page, .hidden-page {
  height: 100vh;
  width: 100%;
  background: pink;
  position: absolute;
  animation: slideUp;
  animation-duration: 0.5s;
  &>div:first-of-type {
    width: 100%;
    height: 8vh;
    float: left;
    background: $primary;
    p:first-of-type {
      width: 10%;
      height: 5vh;
      font-size: 3vh;
      float: left;
      padding: 2.5vh 3.5%;
    }
    p:last-of-type {
      width: 66%;
      height: 5vh;
      font-size: 4vh;
      float: left;
      text-align: center;
      padding: 2vh 0;
    }
  }
  &>section {
    &>button {
      width: 100%;
      height: 7vh;
      font-size: 4vh;
      background: $white;
      
    }
  }
}

.hidden-page {
  bottom: -100%;
  animation-name: slideDown;
  animation-duration: 0.5s;
}
