@import '../../style/lib/vars';


#auth-page {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: radial-gradient($white 10%, transparent 100%, $primary 140%);

  .auth-modal {
    width: 100%;
    height: 25vh;
    position: absolute;
    bottom: 5%;
    border-radius: 20px;
    animation-name: modalSlideUp;
    animation-duration: .5s;

    p {
      width: 80%;
      margin-top: 2.5vh;
      margin-left: 5%;
      background: $white;
      min-height: 3vh;
      height: auto;
      font-size: 3vh;
      padding: 3vh 5%;
      text-align: center;
      border-radius: 20px;
    }
  }

  &>p {
    position: absolute;
    bottom: 0;
    font-size: 4vw;
    width: 100%;
    text-align: center;
    padding-bottom: 2vh;
    span {
      font-weight: bold;
      color: blue;
      cursor: pointer;
    }
  }
}

#auth-error {
  float: right;
  margin: 2.5vh 5%;
  width: 90%;
  height: 4vh;
  font-size: 5vw;
}
